.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

.section {
  padding-top: 5rem;
}

#hasilprojek {
  background-color: #e2edff;
}

#kontak {
  background-color: #e2edff;
}
#upload {
  padding-block: 200px;
}
